{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Hostel Management</title>
</head>
<body>
    <h2>छत्रपती शिवाजी महाराज ग्रामोध्योग मंडळ पाल संचालित,</h2>
    <h1> छत्रपती शिवाजी महाराज मागासवर्गीय मुलांचे वसतिगृह पाल </h1>
    <a href="{% url 'apply_for_hostel' %}">Apply for Hostel</a> <br>
    <br>
</body>
<body>
    <h1>Welcome to Shivaji Maharaj Hostel</h1>
    <p>Find us here: <a href="https://maps.app.goo.gl/t5rHMoq134d5HpCcA" target="_blank">View on Google Maps</a></p>
    <!-- Other content -->
</body>
</html>
